@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Berkshire+Swash&family=Black+Han+Sans&family=Cal+Sans&family=Carter+One&family=Comic+Relief:wght@400;700&family=Happy+Monkey&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=Lilita+One&family=Luckiest+Guy&family=Madimi+One&family=New+Amsterdam&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Odibee+Sans&family=Outfit:wght@100..900&family=Pacifico&family=Pangolin&family=Passion+One:wght@400;700;900&family=Playwrite+DE+Grund:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sniglet:wght@400;800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&family=Underdog&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background-image: url('/images/homeBg.png');
    background-color: #7a2bae;
    background-size: 100% 100%;
}
.mainContainer{
    display: grid;
    grid-template-rows: 0.1fr 1fr 2.5fr;
}
.upper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.upper img {
    margin-top: 2%;
    position: absolute;
    width: 40%;
    height: 80%;
}
.lower{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 10% 0px 0px;
}
.left img{
    margin-top: 4%;
    position: absolute;
    width: 45%;
    height: 90%;
    animation: leftImg 2s linear infinite;

}
@keyframes leftImg {
    0%, 100%{
        margin-top: 4%;
        transform: rotate(0deg);
    }
    50%{
        margin-top: 1%;
        transform: rotate(3deg);
    }
}
.middle{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.6fr 2fr;
}
.play, .paper, .middle, .right{
    width: 100%;
    height: 100%;
}
.play{
    display: flex;
    justify-content: center;
    align-items: center;
}
.play img{
    margin-top: -8%;
    position: absolute;
    width: 12%;
    height: 10%;
    border: 5px solid black;
    border-radius: 60px;
    filter: drop-shadow(2px 2px 2px black);
    cursor: pointer;
    transition: 0.3s;
}
.play img:hover{
    transform: scale(1.04);
}
.paper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paper img{
    margin-top: 4%;
    margin-left: 2%;
    position: absolute;
    width: 35%;
    height: 70%; 
    animation: middleImg 2.3s linear infinite;   
}
@keyframes middleImg {
    0%, 100%{
        margin-top: 4%;
    }
    50%{
        margin-top: 2%;
    }
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    margin-top: 4%;
    margin-left: 5%;
    position: absolute;
    width: 43%;
    height: 85%;
    animation: rightImg 1.7s linear infinite;  
}
@keyframes rightImg {
    0%, 100%{
        margin-top: 4%;
        transform: rotate(0deg);
    }
    50%{
        margin-top: 1%;
        transform: rotate(-3deg);
    }
}
/* Extra small: phones < 480px */
@media (max-width: 479px) {

}

/* Small: phones 480px–767px */
@media (min-width: 0px) and (max-width: 767px) {

}

/* Medium: tablets 768px–991px */
@media (min-width: 768px) and (max-width: 991px) {
    .upper img {
        margin-top: 10%;
        width: 600px;
        height: 600px;
    }
    .left{
        padding: 0% 30% 0px 0px;
    }
    .left img{
        margin-top: 32%;
        margin-left: 15%;
        width: 500px;
        height: 500px;
        transform: rotate(315deg);
        animation: leftImg 2s linear infinite;
    }
    @keyframes leftImg {
        0%, 100%{
            margin-top: 32%;
        }
        50%{
            margin-top: 27%;
        }
    }
    .play img{
        margin-top: -5%;
        width: 200px;
        height: 80px;
    }
    .paper img{
        margin-top: 20%;
        margin-left: 2%;
        width: 450px;
        height: 500px;
    }
    @keyframes middleImg {
        0%, 100%{
            margin-top: 20%;
        }
        50%{
            margin-top: 10%;
        }
    }
    .right img{
        margin-top: 23%;
        margin-left: 2%;
        position: absolute;
        width: 500px;
        height: 500px;
        transform: rotate(48deg);
        animation: rightImg 1.3s linear infinite; 
    }
    @keyframes rightImg {
        0%, 100%{
            margin-top: 23%;
        }
        50%{
            margin-top: 21%;
        }
    }
    label.logo{
        padding: 0px 30px;
    }
}

/* Large: laptops 992px–1199px */
@media (min-width: 992px) and (max-width: 1199px) {
    .upper img {
        margin-top: 2%;
        width: 50%;
        height: 78%;
    }
    .left{
        padding: 0% 10% 0px 0px;
    }
    .left img{
        margin-top: 3%;
        margin-right: 10%;
        width: 50%;
        height: 85%;
    }
    @keyframes leftImg {
        0%, 100%{
            margin-top: 3%;
            transform: rotate(0deg);
        }
        50%{
            margin-top: 0%;
            transform: rotate(3deg);
        }
    }
    .play img{
        margin-top: -12%;
        width: 15%;
        height: 10%;
    }
    .paper img{
        margin-top: 4%;
        margin-left: 2%;
        width: 40%;
        height: 65%; 
    }
    @keyframes middleImg {
        0%, 100%{
            margin-top: 4%;
        }
        50%{
            margin-top: 1%;
        }
    }
    .right img{
        margin-top: 7%;
        margin-left: 18%;
        position: absolute;
        width: 48%;
        height: 85%;
        animation: rightImg 1.7s linear infinite;  
    }
}

/* Extra Large: desktops ≥ 1200px */
@media (min-width: 1200px) {
    .mainContainer {
        /* background-color: #7a2bae; */
    }
}
